.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 45px;
    font-weight: 550;
    letter-spacing: -2px;
    color: #503453;
}

.titleGradient {
    font-size: 45px;
    font-weight: 550;
    letter-spacing: -2px;
    background: linear-gradient(to bottom, #bc3556, #ec8d49);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.pageTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.mainSection {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.subtitle {
    color: #503453;
    font-weight: 550;
    margin: 0px;
}

.commentSection {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
    min-width: 0;
}

.postComment {
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 15px;
    border: 1.5px solid #e4d0b2;
    flex: 0 0 330px;
    overflow: hidden;
    height: 170px;
    margin-left: 10px;
}

.commentList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
}

.commentList > div {
    margin-bottom: 20px;
}

.postComment > p {
    color: #503453;
}

.helpText {
    margin-top: 10px;
    line-height: 30px;
}

.searchBar {
    width: 100%;
    border: 1.5px solid #e4d0b2;
    border-radius: 15px;
    height: 50px;
    background-color: #fff7eb;
    margin-bottom: 20px;
    font-size: 15px;
    color: #503453;
    font-family: Inter;
    padding-left: 23px;
    appearance: none;
}

.searchBar:focus {
    outline: 0;
}

.searchBar::placeholder {
    color: #503453;
    opacity: 1;
}

.searchBar::-ms-input-placeholder {
    color: #503453;
}

.searchBar::-ms-input-placeholder {
    color: #503453;
}

.commentFull {
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 15px;
    border: 1.5px solid #e4d0b2;
    background: #fff7eb;
    width: 100%;
}

.likeButtons {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.likeButtons > * {
    margin-right: 10px;
}
