.container {
    padding: 0rem;
}

.main {
    min-height: 100vh;
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-bottom: 35px;
    margin-left: 15%;
    width: 100%;
}

.hook {
    font-size: 45px;
    font-weight: 550;
    letter-spacing: -2px;
    margin-bottom: 0px;
    color: #503453;
}

.subtitle {
    color: #503453;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 30px;
}

.commentBox {
    display: flex;
    flex-direction: row;
}

.topComment {
    padding: 30px;
    border-radius: 15px;
    border: 1.5px solid #E4D0B2;
    background: #FFF7EB;
    width: 350px;
    margin-right: 30px;
}

.fadingComment {
    box-sizing: border-box;
    width: 100px;
    padding: 30px;
    margin-right: 30px;
    border-radius: 15px;
    border: 1.5px solid transparent;
    background: linear-gradient(to right,#E4D0B2, #E4D0B2, transparent, transparent) border-box;
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.subject {
    color: #503453;
    font-weight: 550;
    margin-bottom: 5px;
}

.content {
    color: #503453;
    font-weight: 400;
}

.commentHeader {
    display: flex;
    flex-direction: row;
}

.subjectDot1 {
    background-color: #B1EC65;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
}

.subjectDot2 {
    background-color: #EBBA48;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
}

.hookSection {
    display: flex;
    flex-direction: row;
    font-size: 45px;
    font-weight: 550;
    letter-spacing: -2px;
    margin-bottom: 7px;
}

.typedText {
    margin-top: 0.67em;
    margin-left: 0.2em;
}

.typedText>div>span {
    background: linear-gradient(to bottom, #BC3556,
            #EC8D49);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax>.parallaxItem {
    position: absolute;
    border-radius: 100%;
}

.parallax>.parallaxItem:nth-child(1) {
    top: 20%;
    left: -60px;
    z-index: 0;
}

.parallax>.parallaxItem:nth-child(2) {
    bottom: -150px;
    right: -250px;
    z-index: 0;
}

.parallax>.parallaxItem:nth-child(3) {
    top: 100px;
    right: 150px;
    z-index: 0;
}

.parallax>.parallaxItem:nth-child(4) {
    bottom: -330px;
    left: -150px;
    z-index: 0;
}

.parallax>.parallaxItem:nth-child(5) {
    top: 13%;
    left: 40%;
    z-index: 0;
}

.parallax>.parallaxItem:nth-child(6) {
    bottom: 17%;
    left: 30%;
    z-index: 0;
}

.main {
    margin: 0px;
    padding: 0px;
}

.parallaxItem > img {
    margin: 0px;
}